<footer class="text-center pt-5 pb-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-4 mb-md-0 text-md-start">
                    <h5 class="fw-bold text-white">KVB Co., Ltd.</h5>
                    <p>ผู้ให้บริการด้านเครื่องปรับอากาศและจำหน่ายอุปกรณ์อุตสาหกรรมครบวงจร</p>
                </div>
                <div class="col-md-4 mb-4 mb-md-0">
                    <h5 class="fw-bold text-white">ติดต่อเรา</h5>
                    <ul class="list-unstyled">
                        <li><i class="bi bi-telephone-fill me-2"></i><a href="tel:0897770926">089-777-0926</a></li>
                        <li><i class="bi bi-envelope-fill me-2"></i><a
                                href="mailto:laddawan@kvbservice.com">laddawan@kvbservice.com</a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr class="text-white-50 my-4">
            <p class="mb-0 text-white-50">&copy; KVB Co., Ltd. All Rights Reserved.</p>
        </div>
    </footer>
