 <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top">
        <div class="container">
            <a class="navbar-brand fw-bold" href="index.html">
                <img src="imges/6B41D1CD-40F4-470F-BDCF-4E9C112123A1.png" alt="KVB Co., Ltd. Logo" width="40"
                    height="30" class="d-inline-block align-text-top me-2">
                KVB Co., Ltd.
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
             <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link active" href="/">หน้าหลัก</a></li>
        <li class="nav-item"><a class="nav-link" href="/#service1">จำหน่ายอุปกรณ์</a></li>
        <li class="nav-item"><a class="nav-link" href="/service2/">บริการล้าง/ซ่อมแอร์</a></li>
        <li class="nav-item"><a class="nav-link" href="/service3/">อบรมช่างแอร์</a></li>
        <li class="nav-item ms-lg-3">
            <a class="nav-link btn btn-primary text-white px-3 py-2" href="tel:0897770926">
                <i class="bi bi-telephone-fill me-2"></i>ติดต่อ: 089-777-0926
            </a>
        </li>
    </ul>
</div>
        </div>
    </nav>
